{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    {%- autoescape false -%}
        {{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {%- endautoescape -%}
{% endblock %}

{% block body_html %}
    {#{% autoescape false %}#}
    <!DOCTYPE html>
    <html lang="en" style="width:100%; height:100%; margin: auto; position: absolute; top: 0; left: 0">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body style="width:100%; height:100%; position: relative; background-color: #ebf0f2;">
    <table cellspacing="0" cellpadding="0" style="margin: auto; position: absolute; top:0; bottom:0; left:0; right: 0; -moz-box-shadow:3px 3px 5px #1c3c4d; -webkit-box-shadow:3px 3px 5px #1c3c4d; box-shadow:3px 3px 5px #1c3c4d; background-color: #ffffff;
    padding-left: 50px; padding-right: 50px; font-family: Arial; border: 0px; width: 600px;">
        <tr>
            <td align="center" valign="top">
                <!-- HEADER STARTS -->
                <table style="width: 350px; padding-top: 25px">
                    <tr>
                        <td align="center">
                            <img src="{{ backend_url }}/img/logo.png" alt="logo" width="100">
                            <span style="font-family: Arial; color: #2e3a40; font-size: 26px;
                    font-weight: 400; padding-top: 23px; padding-bottom: 20px; display: inline-block">
                        Welcome to Run Control</span>
                        </td>
                    </tr>

                </table>
                <!-- HEADER END -->
                <!-- CONTENT STARTS -->
                <table style="color: #687982; font-family: Arial;
        font-size: 16px; font-weight: 400; line-height: 24px; width: 500px">
                    <tr>
                        <td align="center">
          <span>Thank you for choosing Run Control! There's just one more step before you get to the fun part.
                        Please verify your Run Control account by clicking on the button link below:</span>
                        </td>
                    </tr>
                </table>

                <table style="padding-top: 30px; padding-bottom: 81px">
                    <tr>
                        <td align="left">
                            <div style="font-family: 'Roboto', SansSerif; font-size: 16px; color: #2e3a40; letter-spacing: 1px;
                    font-weight: 500; border-radius: 25px; background-color: #0fd5f7; width: 350px; height: 50px;
                    display: table">
                                <a href="{{ frontend_url }}/registration-employee?type_user={{ type_user }}&company={{ company }}&branch={{ branch }}&confirm_link={{ confirmationUrl }}" onmouseover="this.style.textDecoration='none'; this.style.color='#2e3a40';" onmouseout="this.style.textDecoration='none'; this.style.color='#2e3a40';" style="text-decoration: none; color: #2e3a40; max-width: 165px; height: 19px; display: table-cell;
                        vertical-align: middle; text-align: center; line-height: 50px">CONFIRM MY EMAIL</a>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- CONTENT END -->
                <!-- FOOTER STARTS -->
                <table style="color: #687982; font-family: Arial;
        font-size: 16px; font-weight: 400; line-height: 24px; width: 500px; padding-bottom: 40px">
                    <tr>
                        <td align="center">
                            <span>Need Help? Mail us {{ system_email }}</span>
                        </td>
                    </tr>
                </table>
                <!-- FOOTER END -->
            </td>
        </tr>
    </table>
    </body>
    </html>
    {#{% endautoescape %}#}
{% endblock %}
